i:hover{
  cursor: pointer;
}

/* removes drop down arrow on dropdown button */
/* not anymore since i changed the drop direction, this is doing nothing,
figure out how to trigger the damn arrow*/
.dropdown-toggle:after{
  display: none
}

.profile-modal{
  -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}