/* .App{
  text-align: center;
  background: rgb(244,235,232);
  background: radial-gradient(circle, rgba(244,235,232,1) 0%, rgba(41,231,205,1) 28%, rgba(224,134,211,1) 84%);
} */
/* .light{} */

body {
  background: rgb(41, 231, 205);
  background: radial-gradient(
    circle,
    rgba(41, 231, 205, 1) 0%,
    rgba(224, 134, 211, 1) 71%
  );
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

/* //////////////////////////////////////////nav bar//////////// */
.container {
  width: 100%;
}

.flexnav{
  font-family: "Manrope";
  line-height: 0.5;
  background: #ffffff;
  display: flex;
  justify-content: space-evenly
  /* background:  transparent; */
  /* width: 100%; */
}
.flexnav > li > a {
  padding: 18px 0px 10px;
  font-size: 16px;
  text-transform: uppercase;
}
/* .flexnav:after {
  content: "";
  display: table;
  clear: both;
}  */
.flexnav > li {
  float: left;
  display: block;
  position: relative;

}
.flexnav li a {
  color: #29E7CD;
  text-align: center;

}
.flexnav > li > a {
  display: block;
  font-weight: 300;
  text-decoration: none;

}
.flexnav li a:hover {
  color: #243119;
} 

.logoffButton {
  position: absolute;
  /* left: 450px; */
  display: grid;
  /* text-align: right; */
}

.logoV {
  font-family: "Titan One";
}

.cardLogo {
  text-align: right;
  font-family: "Titan One";
  font-size: 16px;
  margin-bottom: -19px;
}
.cardLogoHeader {
  text-align: right;
  font-family: "Titan One";
  font-size: "14px";
  margin-bottom: -19px;
}

.mainLogo {
  font-family: "Titan One";
  font-size: 60px;
display: grid;
justify-content:center;
  color: white;
}

.overflowCard {
  overflow: scroll;
  padding: 10px;
  height: 100px;
}

.profileButton{
  background-color: "#FFFFFF"; 
  border: "#FFFFFF";
  color: "#29E7CD";
  font-family: "Manrope";
  text-transform: 'uppercase';
}

.newVibeButton{
display: grid;
justify-content: center;
transform: rotateZ(90deg);
}

.addVibeButton{
  display: grid;
justify-content: center;
}

.logoText{
  font-family: 'Titan One';
  font-size: inherit;
}

.authorImage{ 
  display: flex;
  justify-content: right;
  font-size: 11px;
  margin-top: 3px;
}


.profileButton{
  background-color: "#FFFFFF";
  color: "#29E7CD";
          border: "#FFFFFF";
          text-transform: "uppercase";
          font-family: "Manrope";
          padding-top: "10px";
}

/* ////////////////////////////DARK MODE ///////////////////////// */

.dark {
  background-color: black;
  color: #000000;
}
